* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  position: relative;
}

.trip_date_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.hero:after {
  content: "";
  display: block;
  width: 37%;
  height: 110px;
  position: absolute;
  left: 0;
  top: 40px;
  background-image: url("https://cdn.prod.website-files.com/673728493d38fb595b0df373/68f1d23b15d0a283b731abba_top_shape.png");
  background-size: 100% 100%;
  border-radius: 6px;
}

.hero:before {
  content: "";
  display: block;
  width: 37%;
  height: 110px;
  position: absolute;
  left: 0;
  top: 269px;
  background-image: url("https://cdn.prod.website-files.com/673728493d38fb595b0df373/68f1d23bdd2152ed7ba9e2e8_bottom_weight_shape.png");
  background-size: 100% 100%;
  border-radius: 6px;
}

.hero_ban::after {
  content: "";
  display: block;
  width: 120px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 219px;
  background-image: url("https://cdn.prod.website-files.com/673728493d38fb595b0df373/68f1d23bc24454880f08bf3d_bottom_height_shape.png");
  background-size: 100% 100%;
  border-radius: 0px;
}

/* code for search box start */
.search_wrapper {
  background-color: #fff;
  border-radius: 6px 6px 0px 0px;
  padding: 30px;
  border-bottom: 1px solid #000;
}

.search_form {
  margin-top: 25px;
}

.form_left {
  display: grid;
  grid-template-columns:
    calc(25% - 8px)
    calc(25% - 8px)
    calc(20% - 8px)
    calc(15% - 8px)
    calc(15% - 8px);
  column-gap: 10px;
}

.search_form_retunr .form_left {
  grid-template-columns:
    calc(25% - 8px)
    calc(25% - 8px)
    calc(20% - 8px)
    calc(15% - 8px)
    calc(15% - 8px);
}

.form_left input {
  display: block;
  width: 100%;
  height: 54px;
  border: 1px solid #000;
  border-radius: 6px;
  font-size: 16px;
  color: #000;
  padding-left: 20px;
  outline: none;
  padding-right: 50px;
}

.form_left input::placeholder {
  opacity: 1;
  color: #929aa4;
}

.departure_airport {
  background-image: url("https://cdn.prod.website-files.com/673728493d38fb595b0df373/68f1ee5e765ab6f785e4ec3f_pl1.png");
  background-repeat: no-repeat;
  background-position: top 15px right 14px;
  background-size: 22px;
}

.arrival_airport {
  background-image: url("https://cdn.prod.website-files.com/673728493d38fb595b0df373/68f1ee5e52edb097853a368b_pl2.png");
  background-repeat: no-repeat;
  background-position: top 15px right 14px;
  background-size: 22px;
}

.form_right {
  display: grid;
  grid-template-columns: 1.2fr 0.9fr 0.9fr;
  column-gap: 10px;
}

.form_input_multipul {
  height: 54px;
  border: 1px solid #000;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_input_multipul input {
  display: block;
  width: 100%;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}

.form_input_multipul input {
  display: block;
  width: 100%;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  color: #000;
  line-height: 1;
  height: 20px;
}

.form_input_multipul input::placeholder {
  opacity: 1;
  color: #929aa4;
}

.form_input_pax_wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 6px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  column-gap: 20px;
}

.form_input_pax_input {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  width: 100%;
}

.form_input_pax_input input {
  width: 100%;
  border: 0;
  outline: none;
  text-align: center;
  padding: 0px 6px;
  height: 40px;
  pointer-events: none;
}

.form_input_pax_input span {
  display: block;
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  flex: none;
}

.form_input_pax_input span:hover {
  background-color: #000;
  color: #fff;
}

.form_input_icon {
  flex: none;
  padding-left: 20px;
  border-left: 1px solid #000;
  padding-top: 16px;
  padding-bottom: 16px;
}

.trip_submit button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #04142a;
  border-radius: 6px;
  height: 54px;
  font-family:
    Geom Graphic,
    Arial,
    sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  padding-left: 35px;
  padding-right: 20px;
  position: relative;
  transition: all 0.2s ease;
}

.trip_submit button:hover {
  opacity: 0.7;
}

.trip_submit button:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 55px;
  background-color: #fff;
}

.form_input_pax_input .disabled {
  background-color: #808080;
  border-color: #808080;
  color: #fff;
}

.form_input_pax_input .disabled:hover {
  background-color: #808080;
  border-color: #808080;
  color: #fff;
}

@media (min-width: 1440px) {
  .hero::after {
    width: 37%;
    height: 135px;
    top: 70px;
  }

  .hero::before {
    width: 37%;
    height: 135px;
    top: 382px;
  }

  .hero_ban::after {
    width: 135px;
    height: 343px;
    top: 290px;
  }
}

/* code for search box end */

/* code for sponser swipper js start */
.sponser_img_slide {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponser_img_slide img {
  flex: none;
}

/* code for sponser swipper js end */

.why_fleet {
  position: relative;
}

.why_fleet::after {
  content: "";
  display: block;
  width: 1528px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99999;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-left: 1px solid #303a49;
  border-right: 1px solid #303a49;
}

.hm_jet_right_slider .swiper-slide {
  transform: scale(0.8) !important;
  opacity: 0.5;
  filter: grayscale(100%);
  position: relative;
  top: -20px;
}

.hm_jet_right_slider .swiper-slide-active {
  transform: scale(1) !important;
  opacity: 1;
  filter: none;
  top: 0;
}

.hm_jet_right_slider .swiper-slide-active .hm_jet_img img {
  padding: 13px;
}

.hm_jet_right_slider .swiper-slide-active:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("https://cdn.prod.website-files.com/673728493d38fb595b0df373/68f4ec16df03f1f92f772b6a_mb.png");
  background-size: 100% 100%;
}

.copy_icon {
  transition: all 0.3s ease;
}

.copy_icon img {
  transition: all 0.3s ease;
}

.copy_icon:hover {
  background-color: #9ba1aa;
}

.copy_icon:hover img {
  filter: brightness(0) saturate(100%) invert(8%) sepia(17%) saturate(4160%)
    hue-rotate(187deg) brightness(98%) contrast(102%);
}

.search_form.active_search {
  display: block;
}

.search_tab_item {
  cursor: pointer;
}

.search_tab_item.active_search .search_tab_oval {
  background-color: #04142a;
}

@media (min-width: 1440px) {
  .why_fleet::after {
    content: none;
  }

  .why_fleet_wrapper .container {
    position: relative;
  }

  .why_fleet_wrapper .container:after {
    content: "";
    display: block;
    width: 1px;
    height: 30vh;
    position: absolute;
    left: 15px;
    top: -86px;
    background-color: #303a49;
  }

  .why_fleet_wrapper .container:before {
    content: "";
    display: block;
    width: 1px;
    height: 30vh;
    position: absolute;
    right: 15px;
    top: -86px;
    background-color: #303a49;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .why_fleet::after {
    width: 73rem;
  }

  .form_left {
    grid-template-columns:
      calc(22% - 8px) calc(22% - 8px) calc(18% - 8px) calc(19% - 8px)
      calc(19% - 8px);
    column-gap: 10px;
  }

  .form_left_input input {
    padding-left: 10px;
    padding-right: 35px;
  }

  .departure_airport,
  .arrival_airport {
    background-position: top 19px right 11px;
    background-size: 16px;
  }

  .form_input_multipul {
    padding-left: 0px;
    padding-right: 0px;
  }

  .form_input_multipul input {
    padding-left: 10px;
    padding-right: 10px;
  }

  .search_form_retunr .form_left {
    grid-template-columns:
      calc(17.5% - 8px) calc(17.5% - 8px) calc(14.5% - 8px) calc(14.5% - 8px)
      calc(18% - 8px) calc(18% - 8px);
  }

  .form_input_pax_wrapper {
    padding-left: 10px;
    padding-right: 20px;
    column-gap: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .why_fleet::after {
    width: 58rem;
  }

  .form_left {
    grid-template-columns: calc(25% - 8px) calc(25% - 8px) calc(25% - 8px) calc(
        25% - 8px
      );
    row-gap: 12px;
  }

  .search_form_retunr .form_left {
    grid-template-columns:
      calc(21.5% - 8px) calc(21.5% - 8px) calc(17.5% - 8px) calc(17.5% - 8px)
      calc(22% - 8px);
  }

  .search_wrapper {
    padding: 12px 20px;
  }

  .search_form {
    margin-top: 10px;
  }

  .form_left input {
    height: 46px;
    padding-left: 10px;
    padding-right: 30px;
  }

  .departure_airport,
  .arrival_airport {
    background-position: top 14px right 10px;
    background-size: 16px;
  }

  .form_input_multipul {
    height: 46px;
  }

  .form_input_multipul input {
    height: 14px !important;
  }

  .form_input_pax_wrapper {
    padding-left: 12px;
    padding-right: 11px;
    column-gap: 12px;
    height: 46px;
  }

  .form_input_pax_input input {
    height: 40px !important;
    padding-right: 10px !important;
  }

  .form_input_icon {
    padding-left: 19px;
    padding-top: 11px;
    padding-bottom: 15px;
    height: 46px;
    padding-right: 8px;
  }

  .trip_submit button {
    height: 46px;
  }

  .form_input_multipul {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .search_heading {
    flex-direction: column;
    row-gap: 16px;
  }

  .search_tab_item {
    margin-left: 0;
    margin: 0px 14px;
  }

  .form_left,
  .search_form_retunr .form_left {
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
    column-gap: 12;
  }

  .hero:after,
  .hero:before,
  .hero_ban:after {
    content: none;
  }

  .why_fleet::after {
    width: 688px;
  }

  .sp_swipper_ctrl_dot {
    display: none;
  }

  .hm_jet_right_slider .swiper-slide-active .hm_jet_img img {
    padding: 7px;
  }

  .hm_ability_btn {
    display: block;
    position: relative;
    top: 200px;
  }

  .search_box {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #68717f;
    top: 0;
    left: 0;
    z-index: 99999;
    transform: scale(0);
    transition: all 0.3s ease;
  }

  .searchDisplay {
    transform: scale(1);
  }

  .search_box .container {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search_heading_left {
    text-align: center;
  }

  .search_wrapper {
    border-radius: 6px;
    border: 0;
    position: relative;
    padding: 0;
  }

  .search_heading,
  .search_form {
    padding: 30px;
    margin-top: 0;
  }

  .search_heading {
    border-bottom: 1px solid #8c8c8c;
  }

  .hm_ability_cross {
    width: 16px;
    position: absolute;
    top: 16px;
    right: 16px;
    display: inline-block;
    cursor: pointer;
  }

  .hero_sub_heading {
    max-width: 40rem;
  }

  .trip_submit span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .trip_submit img {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .search_heading {
    flex-direction: column;
    row-gap: 16px;
  }

  .search_tab_item {
    margin-left: 0;
    margin: 0px 14px;
  }

  .form_left,
  .search_form_retunr .form_left {
    grid-template-columns: 1fr;
    row-gap: 12px;
    column-gap: 0;
  }

  .hero:after,
  .hero:before,
  .hero_ban:after {
    content: none;
  }

  .why_fleet::after {
    content: none;
  }

  .sp_swipper_ctrl_dot {
    display: none;
  }

  .hm_jet_right_slider .swiper-slide-active .hm_jet_img img {
    padding: 16px;
  }

  .search_heading_left_h3 {
    text-align: center;
  }

  .search_wrapper {
    padding: 0;
  }

  .hm_ability_btn {
    display: block;
    position: relative;
    top: 200px;
  }

  .search_box {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #68717f;
    top: 0;
    left: 0;
    z-index: 99999;
    transform: scale(0);
    transition: all 0.3s ease;
  }

  .searchDisplay {
    transform: scale(1);
  }

  .search_box .container {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search_heading,
  .search_form {
    padding: 30px;
    margin-top: 0;
  }

  .search_heading {
    border-bottom: 1px solid #8c8c8c;
  }

  .search_heading_left {
    text-align: center;
  }

  .search_wrapper {
    border-radius: 6px;
    border: 0;
    position: relative;
  }

  .hm_ability_cross {
    width: 16px;
    position: absolute;
    top: 16px;
    right: 16px;
    display: inline-block;
    cursor: pointer;
  }

  .hero_sub_heading {
    max-width: 40rem;
  }

  .trip_submit span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .trip_submit img {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 576px) {
  .search_heading {
    flex-direction: column;
    row-gap: 16px;
    margin-top: 15px;
  }

  .search_tab_item {
    margin-left: 0;
    margin: 0px 14px;
  }

  .hero:after,
  .hero:before,
  .hero_ban:after {
    content: none;
  }

  .why_fleet::after {
    content: none;
  }

  .sp_swipper_ctrl_dot {
    display: none;
  }

  .hm_jet_right_slider .swiper-slide-active .hm_jet_img img {
    padding: 11px;
  }

  .search_heading_left_h3 {
    text-align: center;
  }

  .search_wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .form_left,
  .search_form_retunr .form_left {
    column-gap: 0;
    grid-template-columns: 1fr;
    row-gap: 12px;
  }

  .hm_ability_btn {
    display: block;
    position: relative;
    top: 100px;
  }

  .search_box {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #68717f;
    top: 0;
    left: 0;
    z-index: 99999;
    transform: scale(0);
    transition: all 0.3s ease;
  }

  .searchDisplay {
    transform: scale(1);
  }

  .search_box .container {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search_heading_left {
    text-align: center;
  }

  .search_wrapper {
    border-radius: 6px;
    border: 0;
    position: relative;
  }

  .hm_ability_cross {
    width: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    cursor: pointer;
  }

  .hero_sub_heading {
    max-width: 40rem;
  }
  .trip_submit span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .trip_submit img {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .get_app_sm {
    margin-top: -100px;
  }

  .search_heading,
  .search_form {
    padding: 30px 16px;
    margin-top: 0;
  }

  .search_heading {
    border-bottom: 1px solid #8c8c8c;
  }

  .search_wrapper {
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .hero_sub_btn {
    margin-top: 1.5rem;
    margin-bottom: 60px;
  }

  .search_box {
    margin-top: -13.5rem;
  }

  .search_para {
    margin-top: 0rem;
    font-size: 13px;
  }
}
